@use '~/src/assets/styles/lib/index.scss' as *;

$parent: "idmrp-player";

@include block($parent) {
  @include element($parent, 'player') {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
