@use '~/src/assets/styles/lib/index.scss' as *;

$parent: 'idmrp-player-preview';

@include block($parent) {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include element($parent, 'wrapper') {
    position: absolute;
    inset: 0;
    cursor: pointer;
  }

  @include element($parent, 'button') {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  @include element($parent, 'preview') {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include element($parent, 'player') {
    width: 100%;
    height: 100%;
  }
}
